/* ESTILO PADRÃO P2 */

h1 {
    color: rgb(79, 79, 255);
}

Body {
    background-color: #1e1e1e;
    font: normal 15px Verdana;
}

header {
    font: normal 14px Verdana;
    color: aliceblue;
    text-align: center;
}

section {
    background-color: #252526;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    margin: auto;
    color: aliceblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);
}

footer {
    font-size: 10px;
    color: rgb(155, 155, 155);
    text-align: center;
    padding: 10px;
    font-style: italic;
}

div {
    text-align: left;
}

.info {
    text-align: left;
    margin-left: 15px;
}

#msg {
    margin-top: 5px;
    margin-bottom: 25px;
}

#n {
    border-radius: 5px;
    width: 180px;
}

#st {
    border-radius: 5px;
    width: 165px;
}

.button {
    font-size: 15px;
    width: 90px;
    padding: 8px;
    background-color: rgb(79, 79, 255);
    color: aliceblue;
    border-radius: 15px;
    border: 0px;
}

.button:hover {
    padding: 8px;
    background-color: rgb(65, 65, 210);
}

.button:active {
    padding: 8px;
    background-color: rgb(21, 21, 66);
}

.bt {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;

}

a {
    color: rgba(240, 248, 255, 0.482);
}