* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  margin: 20px;
}

section {
  position: relative;
  box-sizing: border-box;
  /* box-sizing:content-box; */

  width: 795px;
  /* 21cm => 2.100 => 1050 */
  height: 1122px;
  max-height: 1122px;

  padding: 60px;

  border: 2px solid black;
  overflow: hidden;
}

#Title {
  font-size: 24px;
  font-weight: 700;

  outline: none;
  border: none;
  width: 100%;

  overflow-wrap: break-word;
}

#aa {
  overflow-wrap: break-word;
  height: 100px;
  width: 100px;
}

h2 {
  font-size: 18px;
  margin-top: 30px;
}

#boxImg, #picture {
  width: 100%;
  height: 450px;
  max-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#inputImg {
  display: none;
}

.image {
  max-height: 450px;
  width: 100%;
  position: absolute;
  background-size: cover;
  cursor: pointer;
}

.textInput {
  width: 100%;
  height: 100%;
  display: block;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #aaa;
  transition: .3s;
  cursor: pointer;

}

.textInput:hover {
  background-color: #989898;
}

section label, label span {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

section>label {
  margin-top: 50px;
  padding-top: 60px;
  cursor: pointer;
}

section textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;

  width: 100%;
  max-width: 670px;
  min-width: 670px;
  height: 50px;
  min-height: 50px;

  outline: 0;
  border: 0;
  overflow-wrap: break-word;
}

#logo {
  position: absolute;

  top: 93%;
  left: 88%;

  width: 80px;
}

/*  */

button {
  padding: 30px;
  font-size: 22px;
  background-color: green;
  color: aliceblue;
  font-weight: 500;
  cursor: pointer;
  width: 400px;
  box-sizing: border-box;
  transition: .3s;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  filter: brightness(80%);
  scale: 90%;
}

#boxTools {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  gap: 20px;
  width: 400px;
  max-width: 30vw;
}

#boxTools input {
  font-size: 22px;
  padding: 15px;
  width: 400px;
  box-sizing: border-box;
}

#btnDesign {
  background-color: #ececec;
  /* color: green; */
  /* border: 2px solid green; */
  color: black;
  /* color: #fff; */
}

footer, footer a {
  text-align: center;
  text-decoration: none;
  color: #333;
}

footer a:hover {
  text-decoration: underline;
}