/* === Projects ============================================ */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 25px;
}

#workSpace {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section {
    box-sizing: border-box;
    line-height: 20px;

    width: 705px;
    min-width: 705px;
    max-width: 705px;
    height: 1040px;
    min-height: 1040px;
    max-height: 1040px;
    /* outline: 5px dashed rgb(192, 16, 16); */
}

section:focus {
    outline: 1px solid rgb(192, 16, 16);
}

.sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    margin: 0px;
    padding: 50px;
    flex-grow: 1;
}

.btn-a {
    background-color: var(--c1);
}

.btn-b {
    background-color: var(--bgc);
}

section h1 {
    margin-bottom: 10px;
}

/*: === 6. Media Queries ================ */

@media screen and (max-width:500px) {
    section {
        width: 80%;
    }

    h1 {
        font-size: 20px;
        font-weight: normal;
    }

    p {
        font-size: 14px;
        font-weight: normal;
    }

    a, footer {
        font-size: 12px;
        font-weight: normal;
    }

    .txt {
        font-size: 14px;
        font-weight: normal;
    }

    .txt-min {
        font-size: 12px;
        font-weight: normal;
    }
}