@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 20px;
}

header {
  background-color: #212529;
  color: aliceblue;
  height: 5vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.171);
}

header h1 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}

section#content {
  position: relative;
  box-sizing: border-box;
  /* box-sizing:content-box; */

  width: 795px;
  min-width: 795px;
  max-width: 795px;

  height: 1122px;
  min-height: 1122px;
  max-height: 1122px;

  padding: 60px;
  outline: 2px solid black;
  margin-bottom: 80px;
  /* overflow: hidden; */
}

#Title {
  font-size: 24px;
  font-weight: 700;

  outline: none;
  border: none;
  width: 100%;

  overflow-wrap: break-word;
}

#aa {
  overflow-wrap: break-word;
  height: 100px;
  width: 100px;
}

h2 {
  font-size: 18px;
  margin-top: 30px;
}

#boxImg, #picture {
  width: 100%;
  height: 450px;
  max-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#inputImg {
  display: none;
}

.image {
  max-height: 450px;
  width: 100%;
  position: absolute;
  background-size: cover;
  cursor: pointer;
}

.textInput {
  width: 100%;
  height: 100%;
  display: block;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ececec;
  transition: .3s;
  cursor: pointer;
}

.textInput:hover {
  filter: brightness(90%);
}

section label, label span {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

section>label {
  margin-top: 50px;
  padding-top: 60px;
  cursor: pointer;
}

section textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;

  width: 100%;
  max-width: 670px;
  min-width: 670px;
  height: 50px;
  min-height: 50px;

  outline: 0;
  border: 0;
  overflow-wrap: break-word;
}

label textarea {
  min-width: 100%;
  max-width: 100%;
  height: 65px;
  min-height: 65px;
}

.logo {
  position: absolute;

  top: 93%;
  left: 88%;

  width: 80px;
}

/*  */

button {
  padding: 30px;
  font-size: 22px;
  background-color: green;
  color: aliceblue;
  font-weight: 500;
  width: 400px;
  box-sizing: border-box;
  transition: .3s;
  cursor: pointer !important;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  filter: brightness(80%);
  scale: 90%;
}

#boxTools {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  gap: 20px;
  width: 400px;
  max-width: 30vw;
}

#boxTools input, #boxTools select, label textarea {
  border: 1px solid hsla(0, 0%, 0%, 0.45);

  box-sizing: border-box;

  font-size: 22px;
  padding: 15px;
  width: 400px;
  border-radius: 5px;
}

#boxTools input:focus, label textarea:focus {
  background-color: #f0fdf8;
  border: 1px solid hsla(0, 0%, 0%, 0.75);
  outline: none;
}

#boxTools select {
  width: 49.4%;
}

form {
  width: 400px;
}

#btnDesign {
  background-color: #ececec;
  /* color: green; */
  /* border: 2px solid green; */
  color: black;
  /* color: #fff; */
}

footer, footer a {
  text-align: center;
  text-decoration: none;
  color: #333;
}

footer a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

#userInfo {
  content: " ";
  position: absolute;
  margin-top: 10px;
  top: 100%;
  left: 0;


  background-color: #ececec5d;
  display: flex;
  justify-content: center;
  border: 1px solid hsla(0, 0%, 0%, 0.25);

  z-index: 3;
  gap: 20px;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100%;
  height: 20px;
}