@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

body {
  background-color: rgba(0, 0, 0, 0.9);
}

header {
  display: flex;
  justify-content: center;
}

h1, h2, h3 {
  color: aliceblue;
  margin: 10px;
  font-family: 'Offside', cursive;
  font-weight: 400;
}

main {
  background-color: rgb(0, 0, 0);
  width: 800px;
  height: 600px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  max-width: 90%;
  background: url("../img/bg.jpg") center center;
}

main::after {
  content: "";
  background-color: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
  z-index: 29;
}

.z {
  /* position: absolute; */
  z-index: 225;
}

.covid {
  position: relative
}

.alive {
  cursor: pointer;
  transition: 0.3s;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.alive:hover {
  scale: 110%;
}

.alive:active {
  scale: 80%;
  filter: brightness(50%);
  rotate: 10deg;
}

.blood {
  scale: 120%;
}

#covid1 {
  top: 80%;
  left: 20%;
}

#covid2 {
  top: 10%;
}

#covid3 {
  top: 45%;
}