/* ELEMENTOS PADRÕES */

/* Espaços */
Body {
    background-color: #1e1e1e;
    font: normal 15px Verdana;
}

header {
    font: normal 20px Montserrat;
    color: aliceblue;
    text-align: center;
    margin: 20px;
}

section {
    background-color: #252526;
    border-radius: 10px;
    padding: 20px;

    width: 60%;
    max-width: 80%;
    min-width: 300px;

    margin: auto;
    margin-bottom: 1%;
    color: aliceblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);
}

footer {
    font-size: 10px ;
    color: rgba(240, 248, 255, 0.500);
    text-align: center;
    padding: 20px;
    font-style: italic;
}

div {
    text-align: center;
}

/* Textos */

h1 {
    font: normal 16px Montserrat;
    color: aliceblue;
    text-align: center;
    /*margin: 10px;*/
    margin: 20px;
} 

p {
    font: normal 13px Verdana;
    color: aliceblue;
    text-align: left;
}

a {
    color: rgba(240, 248, 255, 0.500);
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/Montserrat-Regular.ttf');
    format: ('truetype');
  }

/* Elementos Especiais */

/*___ Botão ___*/

input[type=button] {
    cursor: pointer;
}

.button {
    font-family: Montserrat;
    font-size: 12px;
    width: 90px;
    padding: 8px;
    background-color: rgb(79, 79, 255);
    color: aliceblue;
    border-radius: 15px;
    border: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);
} .button:hover {
    background-color: rgb(65, 65, 210);
} .button:active {
    color: rgba(240, 248, 255, 0.800);
    background-color: rgb(34, 34, 109);
}

.buttonAlt {
    font-family: Montserrat;
    font-size: 12px;
    width: 90px;
    padding: 8px;
    background-color: #3a3a3ae9;
    color: aliceblue;
    border-radius: 15px;
    border: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);

} .buttonAlt:hover {
    background-color: #4f4f4fe9;
} .buttonAlt:active {
    color: rgba(240, 248, 255, 0.800);
    background-color: #747474e9;
}

/* Container e Items */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#item1 {
    align-items: center;
    text-align: left;
    display: flex;
    min-width: 50%;
}

.arrow {
    width: 20px;
    height: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

