/* ESTILO PADRÃO P2 */

Body {
    background-color: #1e1e1e;
    font: normal 15px
     Verdana;
}

header {
    font: normal 14px Verdana;
    color: aliceblue;
    text-align: center;
}

section {
    background-color: #252526;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    color: aliceblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);
}

footer {
    font-size: 10px ;
    color: rgb(155, 155, 155);
    text-align: center;
    padding: 10px;
    font-style: italic;
}

a {
    text-decoration: none;
    color: rgb(155, 155, 155);
}

div {
    text-align: center;
}

#msg {
    margin-top: 5px;
    margin-bottom: 25px;
}
