/* ELEMENTOS PADRÕES */

/* Espaços */
Body {
    background-color: #1e1e1e;
    font: normal 15px Verdana;
}

header {
    font: normal 20px Montserrat;
    color: aliceblue;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 18px;
    /*margin: 20px;*/
}

section {
    background-color: #252526;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    height: 250px;
    margin: auto;
    color: aliceblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);
    text-align: center;
}

footer {
    font-size: 10px ;
    color: rgba(240, 248, 255, 0.500);
    text-align: center;
    padding: 20px;
    font-style: italic;
}

/* div {
} */

/* Textos */

h1 {
    font: normal 16px Montserrat;
    color: aliceblue;
    text-align: center;
    /*margin: 10px;*/
    margin-bottom: 25px;
}

p {
    font: normal 13px Verdana;
    color: aliceblue;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 25px;
}

a {
    color: rgba(240, 248, 255, 0.500);
}

hr {
    width: 300px;

    
    
    background-color: aqua;
    color: aqua;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/Montserrat-Regular.ttf');
    format:('truetype');
  }

/* Elementos Especiais */

/*___ Botões de Operações ___*/

.button {
    font-family: Montserrat;
    font-size: 12px;
    width: 40px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 30px;
    background-color: rgb(79, 79, 255);
    color: aliceblue;
    border-radius: 15px;
    border: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);

    margin-left: 5px;
    margin-right: 5px;
}

.button:hover {
    background-color: rgb(65, 65, 210);
}

.button:active {
    color: rgba(240, 248, 255, 0.800);
    background-color: rgb(34, 34, 109);
}

/*___ Botões de Números ___*/

.buttonN {
    font-family: Montserrat;
    font-size: 16px;
    width: 40px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 30px;
    background-color: #3a3a3ae9;
    color: rgba(240, 248, 255, 1);
    border-radius: 5px;
    border: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);
    margin-right: 5px;
    margin-top: 10px;

    /* margin-right: 25px;
     */
}

.buttonN:hover {
    background-color: #4f4f4fe9;
}

.buttonN:active {
    color: rgba(240, 248, 255, 0.800);
    background-color: rgb(34, 34, 109);
}

/*___ Botão de Igual ___*/

.buttonEqual {
    font-family: Montserrat;
    font-size: 12px;
    width: 40px;
    padding: 8px;
    background-color: rgb(79, 79, 255);
    color: aliceblue;
    border-radius: 15px;
    border: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);
    margin-right: 10px;

    margin-left: 5px;
    margin-right: 10px;
}

.buttonEqual:hover {
    background-color: rgb(65, 65, 210);
}

.buttonEqual:active {
    color: rgba(240, 248, 255, 0.800);
    background-color: rgb(34, 34, 109);
}

/* Limpar */

.current {
    font-family: Montserrat;
    font-size: 18px;
    margin: 50px;
}

#clear {
    font-family: Montserrat;
    font-size: 10px;
    width: 60px;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: #3a3a3ae9;
    color: rgba(240, 248, 255, 1);
    border-radius: 15px;
    border: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);
}

#clear:hover {
    background-color: #4f4f4fe9;
}

#clear:active {
    background-color: #747474e9;
}

/* Divs */

#numbersSpace {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: initial; */
    /* flex-direction: row; */

    /* margin-top: 20px;
    margin-bottom: 20px; */
    display: inline-block;

    /* -webkit-column-count: 5;
    -moz-column-count: 5; 
    column-count: 5; */
    
}

#currentSpace {
    margin: 10px;
    margin-bottom: 20px;
}

#under {
    text-align: center;
}