// sass --watch src/sass/styles.sass src/css/styles.min.css --style compressed

body
  display: flex
  justify-content: center
  flex-direction: column
  gap: 10px
  background-color: #222
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

header
  display: flex
  width: 100%
  gap: 8px
  justify-content: center
  color: #fff
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  align-items: center

  img
    max-width: 80px
    filter: drop-shadow(0px 0px 1px #fff)

main
  display: flex
  margin: auto
  justify-content: center
  gap: 10px

section
  .bg-canvas
    background-color: aliceblue
    position: relative

  label
    font-family: sans-serif
    font-size: 1.1rem
    color: #ffffffa3

canvas
  outline: 2px solid black

.create-project
  background-color: #222
  color: #ffffffa3
  gap: 10px
  width: 600px
  height: 400px

.bottom-options
  display: flex
  justify-content: space-between
  gap: 10px
  margin-top: 5px
  align-items: center

  button
    border: none
    padding: 3px 5px
    border-radius: 5px
    cursor: pointer
    font-weight: 600

.create-project button
  border: none
  padding: 3px 5px
  border-radius: 5px
  cursor: pointer
  font-weight: 600

aside
  button
    width: 40px
    height: 40px
    cursor: pointer

    &.active
      background-color: #f9b865

    &:active
      background-color: #f9b865

  max-width: 90px
  max-height: 120px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  gap: 5px

@media screen and (max-width: 640px)
  main
    flex-direction: column
    align-items: center

  section
    max-width: 300px

.imageOpt
  &.active
    width: 300px
    height: 200px
    background-color: #222
    z-index: 5
    right: 30px
    top: 30px
    border-radius: 10px
    color: #fff
    text-align: center
    font-weight: 200
    transform: scale(1)

    #inputImg
      display: flex
      flex-direction: column
      height: 30px
      background-color: #222
      color: #fff
      margin: 30px auto 30px auto
      transform: scale(1)

  #inputImg
    transform: scale(0)

  position: absolute
  transform: scale(0)